.sobre {

    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-left: 190px;

}

p {

    margin-top: 2px;
    margin-left: 190px;

}

marker {

    color: #29a6fe;
    margin-left: 200px;

}

.bootstrap-icon {

    margin-top: 5px;
    margin-left: 5px;

}

